In [ ]:
# Revisando estrutura básica do Python e Lógica de Programação

In [3]:
# Operações básicas
print(5 + 1)
print(5 * 1)
print(5 - 1)
print(5 / 1)
print(5 % 1)
print(5 ** 1) #exponenciação

6
5
4
5.0
0
5

In [4]:
x = 5 # variável recebe 5. receber se chama assigment em inglês

In [5]:
type(x) # diz qual o tipo de variável

int

In [7]:
texto = "olá "
print(texto + texto) #basicamente somando textos (?)

olá olá

**Resolução de problemas propostos no vídeo Curso Lógica de Programação Completo 2021 [Iniciantes] + Desafios + Muita prática (https://www.youtube.com/watch?v=iF2MdbrTiBM)**

In [8]:
# Acertar o número sorteado
import random

i = random.randint(1, 10); #http://curso.grupysanca.com.br/pt/latest/input.html

j = int(input("Digite o valor que você acha que foi sorteado: "))

while(j != i):
  if (j > i):
    print("O número que você digitou é maior que o número sorteado.")
  elif(j < i):
    print("O número que você digitou é menor que o número sorteado")
  j = int(input("Digite o valor que você acha que foi sorteado: "))

if(j == i):
  print("PARABÉNS! Você acertou o número!")

Digite o valor que você acha que foi sorteado: 4
O número que você digitou é menor que o número sorteado
Digite o valor que você acha que foi sorteado: 6
O número que você digitou é menor que o número sorteado
Digite o valor que você acha que foi sorteado: 8
O número que você digitou é menor que o número sorteado
Digite o valor que você acha que foi sorteado: 10
O número que você digitou é maior que o número sorteado.
Digite o valor que você acha que foi sorteado: 9
PARABÉNS! Você acertou o número!

In [9]:
# Outra forma de fazer o mesmo código acima
import random
i = random.randint(1, 10); #http://curso.grupysanca.com.br/pt/latest/input.html
acertou = False
while(acertou == False):
  j = int(input("Digite o valor que você acha que foi sorteado (de 1 à 10): "))
  if (j > i):
    print("O número que você digitou é maior que o número sorteado.")
  elif(j < i):
    print("O número que você digitou é menor que o número sorteado")
  elif(j == i):
    print("PARABÉNS! Você acertou o número!")
    acertou = True
  else:
    print("Você chutou um valor errado!")

Digite o valor que você acha que foi sorteado (de 1 à 10): 10
O número que você digitou é maior que o número sorteado.
Digite o valor que você acha que foi sorteado (de 1 à 10): 5
PARABÉNS! Você acertou o número!

In [10]:
# Calcular o fatorial de um número
y = numero = int(input("Digite o número: "))

if(numero > -1):
  while(numero > 1):
    y = y * (numero - 1)
    numero = numero - 1
  print("O fatorial é " + str(y))
else:
  print("O número deve ser positivo!")

Digite o número: 4
O fatorial é 24

In [11]:
# Somar idades
idades = [15, 46, 75, 34, 23]
total = 0

for i in idades:
  total = total + i

print(total)

193

In [12]:
poupanca = 100
resultado = 100 * 1.10 ** 7

print("Eu comecei com $" + str(poupanca) + " e agora eu tenho $" + str(resultado) + "!") # se a variável que precisar ser juntada a string for float ou int, ela deve ser convertida.
# tipos de conversão str(), float() ou int()
pi_string = "3.1415926"

pi_float = float(pi_string)

Eu comecei com $100 e agora eu tenho $194.87171000000012!

In [14]:
# Soma de valores booleanos
var = False + True
print(var)

1

**Listas em Python**

In [16]:
# listas em python
# as listas podem abrigar diferentes tipos de dados. em uma lista pode ter string e int
a = [1, 3, 4, 2]
b = [[1, 2, 3], [4, 5, 7]]
c = [1 + 2, "a" * 5, 3]
print(a, b, c)

[1, 3, 4, 2] [[1, 2, 3], [4, 5, 7]] [3, 'aaaaa', 3]

In [17]:
# list slicing: pegar vários elementos de uma lista
# https://www.geeksforgeeks.org/python-list-slicing/#:~:text=With%20this%20operator%2C%20one%20can,list%20from%20the%20existing%20list.&text=If%20Lst%20is%20a%20list,at%20a%20step%20size%20IndexJump.
# https://algoritmosempython.com.br/cursos/programacao-python/strings/

a = [1, 3, 4, 2]
print(a[0::3]) # a[0::3] é igual a a[x:y:z] onde x = inicio, y = onde parar, z = salto (step), de quanto em quanto vc quer ir contando
print(a[0:3:]) # mostra o intervalo, da posição 0 até a 2; a[inicio : final : intervalo] e não pega o final
print(a[::2]) 
print(a[::-1])

# somando indices de lista
x = ["a", "b", "c", "d"]
print(x[1] + x[3])

[1, 2]
[1, 3, 4]
[1, 4]
[2, 4, 3, 1]
bd

Como ficam os índices das listas do último para o primeiro:

![Screenshot581.png]()

In [18]:
#manipulating lists
x = [["a", "b", "c"],
     ["d", "e", "f"],
     ["g", "h", "i"]]
print(x[2][0])
print(x[2][:2])

a = [1, 3, 4, 2]
print(a)
del(a[1])
print(a)

g
['g', 'h']
[1, 3, 4, 2]
[1, 4, 2]

The ; sign is used to place commands on the same line. The following two code chunks are equivalent:

* Same line

command1; command2

* Separate lines

command1
command2

In [19]:
# se eu quero deletar uma posição, ou no caso abaixo, mais de uma posição, tem que tomar cuidado porque o index da posição muda.
areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]
print(areas)
# eu tenho que deletar as informações da poolhouse
del(areas[-4:-2])
print(areas)

#se eu fizesse por exemplo assim
areas_2 = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

del(areas_2[10]); del(areas_2[11]) # dá erro porque ele primeiro apaga a posição 10. depois o valor da area da poolhouse muda de index (antes era 11 depois fica 10_2)
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'garage', 15.45]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 24.5, 15.45]

In [20]:
# se quiser copiar uma lista para outra variável (lista), então tem que usar list() ou intervalo [:] (pegar de tal posição até outra)
# se uma lista receber a outra, elas sempre se referiram ao mesmo endereço de memória, por isso se eu mudar a lista B, a lista A tbm será alterada
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
areas_copia = areas
print(areas)
print(areas_copia)
areas_copia[0] = 1
print(areas)
print(areas_copia)

[11.25, 18.0, 20.0, 10.75, 9.5]
[11.25, 18.0, 20.0, 10.75, 9.5]
[1, 18.0, 20.0, 10.75, 9.5]
[1, 18.0, 20.0, 10.75, 9.5]

In [21]:
# apagar elementos de uma lista 
# pode-se utilizar o del e o remove
# o del você passa a posição (index) e o remove você passa o conteúdo do elemento
x = [1, 2, 3, 4]
print(x)
del x[0]
print(x)
x.remove(4)
print(x)

[1, 2, 3, 4]
[2, 3, 4]
[2, 3]

In [22]:
#agora se eu usar o list() ou [:] e mudar B, A não será alterado
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
areas_copia = areas[0:] # ou areas_copia = list(areas)
print(areas)
print(areas_copia)
areas_copia[0] = 1
print(areas)
print(areas_copia)

#### The difference between explicit and reference-based copies is subtle, 
#### but can be really important. Try to keep in mind how a list is stored in the computer's memory.

[11.25, 18.0, 20.0, 10.75, 9.5]
[11.25, 18.0, 20.0, 10.75, 9.5]
[11.25, 18.0, 20.0, 10.75, 9.5]
[1, 18.0, 20.0, 10.75, 9.5]

In [24]:
# chamar ajuda no python para saber sobre uma função
help(round)

#achar a posição de um elemento em uma lista
x = ["a", "b", "c", "d"]
x.index('c')

# para converter tipos de dados tem: int(), bool(), str() e float(). em geral para guardar o resultado de funções:
# output = nome_funcao(input). exemplo:

var1 = [1, 2, 3, 4]
var2 = True

print(type(var1))

# print o tamanho da lista
print(len(var1))

out2 = int(var2)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

<class 'list'>
4

In [ ]:
# Função sorted()
help(sorted)

first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

full = first + second

full_sorted = sorted(full, reverse = True)

print(full_sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

[20.0, 18.0, 11.25, 10.75, 9.5]

Em Python, tudo é um objeto. Por isso, podemos chamar métodos a partir dos objetos, como por exemplo que eu fiz acima, x.index. index é um método

In [ ]:
sister = "Liz"
sister2 = sister.replace("z", "sa") # strings são imutáveis, ou seja, pra modificar, tem que salvar em outra variável
print(sister)
print(sister2)

Liz
Lisa

In [ ]:
# MÉTODOS NO PYTHON. EXEMPLO:

place = "poolhouse"

# Use upper() on place: place_up
place_up = place.upper()

# Print out place and place_up
print(place)
print(place_up)

# Print out the number of o's in place
print(place.count('o'))

In [ ]:
# metódos que podem ser usados com listas, exemplo: append e reverse

areas = [11.25, 18.0, 20.0, 10.75, 9.50]

areas.append(24.5)
areas.append(15.45)

print(areas)

areas.reverse()

print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.45]
[15.45, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]

**numpy type coercion** = quando vc tentar fazer algo com um numpy array que tem valores de tipos diferentes. por isso, ele converte os tipos diferentes para ficar homogêneo

In [ ]:
# No numpy, True é convertido pra 1 e False para 0, então:
import numpy as np

print(np.array([True, 1, 2]) + np.array([3, 4, False])) # é igual a np.array([1, 1, 2]) + np.array([3, 4, 0])

[4 5 2]

**subsetting** = using the square bracket notation on lists or arrays